*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#0f172a;
color:white;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background:#020617;
}

.logo{
color:#38bdf8;
}

.navbar ul{
list-style:none;
display:flex;
gap:25px;
}

.navbar a{
color:white;
text-decoration:none;
font-weight:bold;
}

.navbar a:hover{
color:#38bdf8;
}

/* HERO */

.hero{
display:flex;
justify-content:space-around;
align-items:center;
min-height:90vh;
padding:50px;
}

.hero-text{
max-width:500px;
}

.hero-text h1{
font-size:48px;
}

.hero-text span{
color:#38bdf8;
}

.hero-text h3{
margin:15px 0;
color:#94a3b8;
}

.hero-img img{
width:280px;
border-radius:50%;
border:5px solid #38bdf8;
}

/* BUTTON */

.btn{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#38bdf8;
color:black;
border-radius:30px;
text-decoration:none;
font-weight:bold;
}

.btn:hover{
background:white;
}

/* SKILLS */

.skills{
padding:70px;
text-align:center;
}

.skill-box{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
margin-top:40px;
}

.card{
background:#020617;
padding:25px;
border-radius:15px;
box-shadow:0 0 15px rgba(56,189,248,0.4);
}

.card h3{
color:#38bdf8;
margin-bottom:10px;
}

/* CTA */

.cta{
background:#020617;
padding:70px;
text-align:center;
}

/* FOOTER */

footer{
padding:25px;
text-align:center;
background:#020617;
color:#94a3b8;
}
